@(healthchecks: playGuiceStatsD.healthChecks.ViewModel)
<html>
	<head>
		<title>Health Checks</title>
	</head>
	<body>
		<h1>HealthChecks</h1>
		@if(healthchecks.isHealthy()) {
			<h2>Server status: Healthy</h2>
		} else {
			<h2>Server status: Sick</h2>
		}
		<table border="1">
			<thead>
				<tr>
					<th>Class</th>
					<th>Healthy</th>
					<th>Message</th>
					<th>Error</th>
				</tr>
			</thead>
			<tbody>
				@for(check <- healthchecks.getResults()) {
					<tr>
						<td>@check.getName()</td>
						<td>@check.isHealthy()</td>
						<td>@check.getMessage()</td>
						<td>@check.getError()</td>
					</tr>
				}
			</tbody>
		</table>
	</body>
</html>